html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 1px solid rgb(161, 161, 161);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

input[type='text'], button[type='submit'] {
    width: 100%;
    margin: 8px 10px;
    outline: none;
    border: 1px solid rgb(164, 164, 164);
    border-radius: 8px;
}

#nome {
    height: 30px;
    padding-left: 15px;
    box-sizing: border-box;
}

#descricao {
    height: 70px;
    padding-bottom: 20px;
    padding-left: 15px;
    box-sizing: border-box;
}

button {
      display: flex;
    justify-content: center; 
    align-items: center;  
    text-align: center;      
    height: 35px;
    padding-left: 15px;
    box-sizing: border-box;
    background: #4CAF50; 
    color: #ffff;
    font-size: 14px;
}

button:hover {
    background: #45a049; 
}

ul {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
}


.linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

.linha .conteudo {
    flex: 1;
    margin-right: 20px;
    overflow: hidden; 
    white-space: nowrap;
}

.concluida {
    text-decoration: line-through;
    color: green; 
}

.btn-detalhes {
    background: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    width: 120px;
}

.btn-detalhes:hover {
    background: #45a049; 
}


.btn-concluir {
    background: #2196F3; 
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    width: 120px;
}

.btn-concluir:hover {
    background-color: #0b7dda; 
}


.btn-remover {
    background: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    width: 120px;
}

.btn-remover:hover {
    background: #da190b;
}

p {
    line-height: 2.5; /* Ajuste o valor conforme necessário */
}