html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 1px solid rgb(161, 161, 161);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); /* sombra ao redor da div */
    padding: 20px;
}

input[type='text'], button[type='submit'] {
    width: 100%;
    margin: 8px 10px;
    outline: none;
    border: 1px solid rgb(164, 164, 164);
    border-radius: 8px;
}

#nomeTarefa {
    height: 30px;
    padding-left: 15px;
    box-sizing: border-box;
}

#descricaoTarefa {
    height: 70px;
    padding-bottom: 20px;
    padding-left: 15px;
    box-sizing: border-box;
}

button {
    height: 35px;
    padding-left: 15px;
    box-sizing: border-box;
    background: #008000;
    color: #ffff;
    font-size: 14px;
}